<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" itemscope itemtyp="http://schema.org/Article">
  <head>
    {{partial "headCommon.html" .}}

    {{ "<!-- schema.org -->" | safeHTML }}
    <meta itemprop="description" content="{{.Summary}}">
    {{with (or .Params.thumbnail .Params.featureimage)}}<meta itemprop="image" content="{{. | absURL}}">{{end}}

    {{ "<!-- twitter -->" | safeHTML }}
    <meta name="twitter:title" content="{{.Title}}">
    {{with .Site.Params.social.twitter}}<meta name="twitter:site" content="@{{.}}">{{end}}
    {{with (or .Params.thumbnail .Params.featureimage) -}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{. | absURL}}">
    {{else -}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://www.gravatar.com/avatar/{{.Site.Params.gravatar}}?s=250&d=identicon">
    {{end}}
    <meta name="twitter:description" content="{{.Summary}}">

    {{ "<!-- open graph -->" | safeHTML }}
    {{with .Site.Params.author}}<meta itemprop="article:author" content="{{.name}} <{{.email}}>">{{end}}
    <meta itemprop="article:published_time" content="{{dateFormat `2006-01-02T15:04:05Z07:00` .Date}}">
    {{with .Params.tags}}<meta itemprop="tag" content="{{delimit . `, `}}">{{end}}
    {{with .Params.section}}<meta itemprop="article:section" content="{{.}}">{{end}}

    {{with (or .Params.thumbnail .Params.featureimage)}}<meta itemprop="og:image" content="{{. | absURL}}">{{end}}
    {{with .Permalink}}<meta itemprop="og:url" content="{{.}}">{{end}}
    {{with .Title}}<meta itemprop="og:title" content="{{.}}">{{end}}
    {{with .Params.description}}<meta itemprop="og:description" content="{{.}}">{{end}}
  </head>
